<!doctype html>
<html>

<head>
    <title>Welecome to the Meme Store</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body,
        html {
            font-family: 'Roboto', 'sans-serif';
            font-size: 50px;
            color: white;
            background-color: black;
        }
        
        h3 {
            display: none;
        }
        
        a {
            text-decoration: none;
            color: yellow;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('h3').fadeIn(2200);
            });
    </script>
</head>

<body>
    <center>

        <h3><p>Welcome to the Meme Store</p></h3>
        <h6><p>Click <A href="/photos/memes.html">here </A>to get started</p></h6>
    </center>
</body>

</html>