<!DOCTYPE>
<html>

<head>
    <title>The Meme store</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <style>
        html,
        body {
            background-color: black !important;
            font-family: 'Roboto', 'sans-serif' !important;
        }
        
        img:hover {
            transition: all .2s ease-in-out;
            transform: scale(1.2);
        }
        
        .memes {
            padding-left: 5px;
            display: inline-block !important;
        }
    </style>
</head>

<body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/gif/">GIF store</a>
                <a class="navbar-brand" href="/photos/memes.html">Meme store</a>
            </div>
        </div>
    </nav>
    {%for i in gifs%}
    <div class="memes">
        <a href="/gif/{{i.id}}"><img style="width:150px;height:150px;" src="{{i.photo_link}}" /></a>

    </div>

    {%endfor%}


</body>

</html>